<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div>
    <form action="/register" method="post">
        <input placeholder="username" name="username" type="text" value="">
        <input placeholder="email" name="email" type="email" value="">
        <input placeholder="password" name="password" type="password" value="">
        <input type="submit" value="Submit" >
    </form>
    <p>{{error}}</p>
</div>
<div>

</div>
</body>
</html>